# Import Library

In [32]:
import pandas as pd

import snowflake.connector as snow
from snowflake.connector.pandas_tools import write_pandas

import sqlalchemy as sql
import os
import datetime

# Connection With Snowflake

In [2]:
conn = snow.connect(user="PBVIRANI",
   password="Patel@8732",
   account="pd06844.ap-south-1.aws",
   warehouse="DATALOADS",
   database="POC_DATASET",
   schema="POC_SCHEMA")


# Create a cursor object.
cur = conn.cursor()

# Import Excel file and Fetch Data

In [4]:
df = pd.read_excel('company.xlsx')
df

       Company Exch ExchType  Scripcode
0          TCS    N        C      11536
1      HCLTECH    N        C       7229
2        WIPRO    N        C       3787
3         LTIM    N        C      17818
4    TATASTEEL    N        C       3499
5     JSWSTEEL    N        C      11723
6    APLAPOLLO    N        C      25780
7   TATAMOTORS    N        C       3456
8     FORCEMOT    N        C      11573
9     RELIANCE    N        C       2885
10        INFY    N        C       1594

In [6]:
cur.execute("SELECT stock_id,stock_name,stock_symbol FROM stock_fundamental")
one_row = cur.fetchall()
one_row

[(1, 'Tata Consultancy Services Ltd', 'TCS'),
 (2, 'HCL Technologies Ltd', 'HCLTECH'),
 (3, 'Wipro Ltd', 'WIPRO'),
 (4, 'LTI Mindtree Ltd', 'LTIM'),
 (5, 'Tata Steel Ltd', 'TATASTEEL'),
 (6, 'JSW Steel Ltd', 'JSWSTEEL'),
 (7, 'APL Apollo Tubes Ltd', 'APLAPOLLO'),
 (8, 'Tata Motors Ltd', 'TATAMOTORS'),
 (9, 'Force Motors Ltd', 'FORCEMOT'),
 (10, 'Reliance Industries Ltd', 'RELIANCE'),
 (11, 'Infosys Ltd', 'INFY')]

# Insert Data in Table

In [40]:
for i in range(0,len(df['Company'])):
    cur.execute("SELECT stock_id,stock_name,stock_symbol FROM stock_fundamental where stock_symbol = '" + df['Company'][i] + "'")
    one_row = cur.fetchall()
    print(one_row[0][1] , " " , df['Exch'][i]) 
    cur.execute("INSERT INTO stock_spec(name,exchange,exchange_type,scripcode,symbol,full_refresh,candle_duration,created_datetime,createdby,lastmodified_datetime,lastmodifiedby) VALUES('"+str(one_row[0][1])+"','"+str(df['Exch'][i])+"','"+str(df['ExchType'][i])+"','"+str(df['Scripcode'][i])+"','"+str(one_row[0][2])+"',0,'5 Min','"+str(datetime.datetime.now())+"','Prince Virani','"+str(datetime.datetime.now())+"','Prince Virani')")

Tata Consultancy Services Ltd   N
HCL Technologies Ltd   N
Wipro Ltd   N
LTI Mindtree Ltd   N
Tata Steel Ltd   N
JSW Steel Ltd   N
APL Apollo Tubes Ltd   N
Tata Motors Ltd   N
Force Motors Ltd   N
Reliance Industries Ltd   N
Infosys Ltd   N