# Import Library

In [1]:
import pandas as pd

import snowflake.connector as snow
from snowflake.connector.pandas_tools import write_pandas

import sqlalchemy as sql
import os
import datetime

# Connection With Snowflake

In [2]:
conn = snow.connect(user="PB07",
   password="Patel@8732",
   account="ez22413.ap-southeast-1",
   warehouse="COMPUTE_WH",
   database="POC_DATASET")


# Create a cursor object.
cur = conn.cursor()

# Import Excel file and Fetch Data

In [4]:
df = pd.read_csv("scripmaster-csv-format (2).csv")
df

,Exch,ExchType,Scripcode,Name,Series,Expiry,CpType,StrikeRate,WireCat,ISIN,FullName,LotSize,AllowedToTrade,QtyLimit,Multiplier,Underlyer,Root,TickSize,CO BO Allowed
0,B,C,199117,SETFN50INAV,EQ,1980-01-01 00:00:00,XX,0.0,A,INF200KA1FS1,INAV SBI-ETF NIFTY 50,1,Y,0,1,NaN,SETFN50INAV,0.01,N
1,B,C,199118,MOHEALTINAV,EQ,1980-01-01 00:00:00,XX,0.0,Z,INF247L01BB1,INAVMotilalOswS&PBSEHealthcETF,1,Y,0,1,NaN,MOHEALTINAV,0.01,N
2,B,C,199119,ICMOM30INAV,EQ,1980-01-01 00:00:00,XX,0.0,Z,INF109KC17C7,INAVICICIPruNi200MomETF,1,Y,0,1,NaN,ICMOM30INAV,0.01,N
3,B,C,199120,HDFF100INAV,EQ,1980-01-01 00:00:00,XX,0.0,Z,INF179KC1DB7,INAVHDFC NIFTY 100 ETF,1,Y,0,1,NaN,HDFF100INAV,0.01,N
4,B,C,199121,HDFNX50INAV,EQ,1980-01-01 00:00:00,XX,0.0,Z,INF179KC1DA9,INAV HDFC NIFTY Next 50 ETF,1,Y,0,1,NaN,HDFNX50INAV,0.01,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196123,M,D,252661,GOLDM 27 Mar 2023 PE 59500.00 ...,,2023-03-27 23:59:59,PE,59500.0,D,NaN,GOLD MINI 995 EX-AHMEDABD,100,Y,10000,1,27 Mar 2023,GOLDM,0.50,Y
196124,M,D,252662,CRUDEOIL 17 Apr 2023 CE 8750.00 ...,,2023-04-17 23:59:59,CE,8750.0,D,NaN,Light Sweet Crude Oil,100,Y,10000,1,17 Apr 2023,CRUDEOIL,0.10,Y
196125,M,D,252663,CRUDEOIL 17 Apr 2023 PE 8750.00 ...,,2023-04-17 23:59:59,PE,8750.0,D,NaN,Light Sweet Crude Oil,100,Y,10000,1,17 Apr 2023,CRUDEOIL,0.10,Y
196126,M,D,252664,CRUDEOIL 17 Apr 2023 CE 8800.00 ...,,2023-04-17 23:59:59,CE,8800.0,D,NaN,Light Sweet Crude Oil,100,Y,10000,1,17 Apr 2023,CRUDEOIL,0.10,Y
196127,M,D,252665,CRUDEOIL 17 Apr 2023 PE 8800.00 ...,,2023-04-17 23:59:59,PE,8800.0,D,NaN,Light Sweet Crude Oil,100,Y,10000,1,17 Apr 2023,CRUDEOIL,0.10,Y

In [6]:
cur.execute("SELECT stock_id,stock_name,stock_symbol FROM stock_fundamental")
one_row = cur.fetchall()
one_row

[(1, 'Tata Consultancy Services Ltd', 'TCS'),
 (2, 'HCL Technologies Ltd', 'HCLTECH'),
 (3, 'Wipro Ltd', 'WIPRO'),
 (4, 'LTI Mindtree Ltd', 'LTIM'),
 (5, 'Tata Steel Ltd', 'TATASTEEL'),
 (6, 'JSW Steel Ltd', 'JSWSTEEL'),
 (7, 'APL Apollo Tubes Ltd', 'APLAPOLLO'),
 (8, 'Tata Motors Ltd', 'TATAMOTORS'),
 (9, 'Force Motors Ltd', 'FORCEMOT'),
 (10, 'Reliance Industries Ltd', 'RELIANCE'),
 (11, 'Infosys Ltd', 'INFY')]

# Insert Data in Table

In [40]:
for i in range(0,len(df['Company'])):
    cur.execute("SELECT stock_id,stock_name,stock_symbol FROM stock_fundamental where stock_symbol = '" + df['Company'][i] + "'")
    one_row = cur.fetchall()
    print(one_row[0][1] , " " , df['Exch'][i]) 
    cur.execute("INSERT INTO stock_spec(name,exchange,exchange_type,scripcode,symbol,full_refresh,candle_duration,created_datetime,createdby,lastmodified_datetime,lastmodifiedby) VALUES('"+str(one_row[0][1])+"','"+str(df['Exch'][i])+"','"+str(df['ExchType'][i])+"','"+str(df['Scripcode'][i])+"','"+str(one_row[0][2])+"',0,'5 Min','"+str(datetime.datetime.now())+"','Prince Virani','"+str(datetime.datetime.now())+"','Prince Virani')")

Tata Consultancy Services Ltd   N
HCL Technologies Ltd   N
Wipro Ltd   N
LTI Mindtree Ltd   N
Tata Steel Ltd   N
JSW Steel Ltd   N
APL Apollo Tubes Ltd   N
Tata Motors Ltd   N
Force Motors Ltd   N
Reliance Industries Ltd   N
Infosys Ltd   N