## Import Required Libraries

In [19]:
from py5paisa import FivePaisaClient
from datetime import datetime
import pandas as pd

# The Snowflake Connector library.
import snowflake.connector as snow
from snowflake.connector.pandas_tools import write_pandas

import sqlalchemy as sql
import pandas as pd
import os

## Connection with API (5Paisa)

In [10]:
cred={
    "APP_NAME":"5P50638865",
    "APP_SOURCE":"14631",
    "USER_ID":"nTg7U2MLJBz",
    "PASSWORD":"HVcUF6pmnaP",
    "USER_KEY":"2r8NemDsEugdECbwqwWBxU8nlI46ecY4",
    "ENCRYPTION_KEY":"ZNHV4v5KzyUpoVnNjnJvACCwYcLjiAoi"
    }

email="meet.150410107036@gmail.com"
password ="Meet@94094"
dob ="19970903"
client = FivePaisaClient(email=email, passwd=password, dob=dob,cred=cred)
client.login()

 16:45:19 | Logged in!!

## Connection with snowflake

In [11]:
conn = snow.connect(user="PBVIRANI",
   password="Patel@8732",
   account="pd06844.ap-south-1.aws",
   warehouse="DATALOADS",
   database="POC_DATASET",
   schema="POC_SCHEMA")


# Create a cursor object.
cur = conn.cursor()

In [76]:
cur.execute("SELECT stock_id,name,symbol,scripcode FROM stock_spec where stock_id =1")
row = cur.fetchall()
row
df=client.historical_data('N','C',row[0][3],'5m',date.today(),date.today())
#cur.execute("INSERT INTO stock_price_action(stock_id,stock_name,stock_symbol,traded_datetime,open,high,low,close,volume,candle_duration) VALUES("+str(row[0][0])+",'"+str(row[0][1])+"','"+str(row[0][2])+"','"+str(df['Datetime'][i])+"',20.2,210.2,50.5,5.2,5054,'5 Min')")
for i in range(0,len(df['Datetime'])):
#     #print(i)
     cur.execute("INSERT INTO stock_price_action(stock_id,stock_name,stock_symbol,traded_datetime,open,high,low,close,volume,candle_duration) VALUES("+str(row[0][0])+",'"+str(row[0][1])+"','"+str(row[0][2])+"','"+str(df['Datetime'][i])+"','"+str(df['Open'][i])+"','"+str(df['High'][i])+"','"str(df['Low'][i])"','"+str(df['Close'][i])+"','"+str(df['Volume'][i])+"','5 Min')")

SyntaxError: invalid syntax (3189014722.py, line 8)

In [ ]:
# for i in range(0,len(df['Datetime'])):
# #     #print(i)
#      cur.execute("INSERT INTO stock_price_action(stock_id,stock_name,stock_symbol,traded_datetime,open,high,low,close,volume,candle_duration) VALUES("+str(row[0][0])+",'"+str(row[0][1])+"','"+str(row[0][2])+"','"+str(df['Datetime'][i])+"',"+str(df['Open'][i])+","+str(df['High'][i])+","str(df['Low'][i])","+str(df['Close'][i])+","+str(df['Volume'][i])+",'5 Min')")

In [71]:
# df=client.historical_data('N','C',1660,'1m',date.today(),date.today())
df

               Datetime     Open     High      Low    Close  Volume
0   2023-02-28T09:15:00  3331.00  3349.00  3328.50  3347.80  107189
1   2023-02-28T09:20:00  3347.80  3358.25  3345.00  3349.85   53913
2   2023-02-28T09:25:00  3350.00  3364.00  3349.00  3364.00   32217
3   2023-02-28T09:30:00  3363.90  3378.30  3363.70  3376.10   64949
4   2023-02-28T09:35:00  3373.05  3385.95  3373.05  3379.50   81485
..                  ...      ...      ...      ...      ...     ...
70  2023-02-28T15:05:00  3301.55  3306.05  3299.90  3304.65  329844
71  2023-02-28T15:10:00  3304.65  3322.25  3304.60  3322.15  486153
72  2023-02-28T15:15:00  3322.30  3323.60  3311.60  3311.60  498060
73  2023-02-28T15:20:00  3312.60  3316.65  3306.95  3316.25  458453
74  2023-02-28T15:25:00  3316.35  3330.55  3312.05  3328.60  222105

[75 rows x 6 columns]

In [24]:
#df=client.historical_data('N','C',1660,'1m',date.today(),date.today())
for i in range(0,len(df['Datetime'])):
    print(df['Open'][i])

382.55
382.1
381.45
381.1
381.7
382.4
383.2
383.8
383.55
383.15
383.4
383.5
383.95
383.65
384.0
383.85
383.85
383.55
383.3
382.85
382.55
382.2
382.05
382.15
381.3
381.6
381.25
381.2
381.2
381.4
381.1
381.35
381.1
381.1
381.0
380.85
380.8
381.05
381.15
380.9
380.7
380.15
380.0
380.3
380.7
380.7
380.9
380.3
380.25
380.1
380.15
380.15
379.6
379.4
379.2
379.0
378.65
378.45
378.5
378.45
378.75
378.7
378.6
378.45
378.3
378.4
378.3
378.35
378.5
378.75
378.6
379.0
379.15
379.0
379.3
379.25
378.9
378.95
378.5
378.65
378.4
378.6
378.5
378.45
378.1
377.7
377.2
377.4
377.3
377.25
376.8
376.8
376.3
376.2
376.2
376.5
376.65
377.0
376.95
376.9
377.0
377.25
377.25
377.55
377.3
377.3
377.05
377.2
376.85
376.95
376.8
376.6
376.75
377.1
377.1
377.0

In [22]:
df.to_csv('demo.csv')

In [66]:
df = df.values.tolist()

In [61]:
from datetime import datetime
from datetime import timedelta
final_time = datetime.strptime(df[1][0], "%Y-%m-%d %H:%M:%S") + timedelta(minutes=1)

In [38]:
t = int(input("Enter Time : "))
for i in range(0,len(df),t):
    print(df[i])

Enter Time : 758

KeyError: 0

In [22]:
print(datetime.now())

2023-02-28 16:56:07.676447